*
{
    padding: 0;
    margin: 0;

}
button
{
    background: none;
    outline: none;
    cursor: pointer;
}
ul
{
    list-style: none;
}
a
{
    text-decoration: none;
    color: inherit;
}
body
{
    font: 16px/1.5 "Dosis", sans-serif;
}
/* CONTAINER
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.wrapper
{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.wrapper > *
{
    padding: 20px;
}
/* HEADER
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.page-header img
{
    width:12em ;
    height:auto;
}
.page-header nav
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.animation a:hover
{
    background-color: wheat;
    color:white;
    padding: 5px 18px;
    border-radius: 30px 30px 30px 30px;
}
.animation-visited:visited
{
    color:wheat;
}
.page-header ul
{
    display: flex;
    order: 1;
    width: 100%;
    margin-top: 15px;
    font-size: 1.5em;
    justify-content: center;
}

.page-header ul li:not(:last-child)
{
    padding-right: 15px;
}
.page-header .cta-contact
{
    font-family: inherit;
    font-size: 1.2rem;
    padding: 5px 18px;
    border: 1px solid;
    border-radius: 5px;
}
/* MAIN
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.history
{
    display: flex;
    flex-direction: column;
    justify-content: left;
    flex-grow: 1;
    min-height: 42em;
    background: url(../icons/Japan_drift.jpg) no-repeat center / cover;
}
.history-header
{
    width: 40em;
    height: 3em;
    display: flex;
    color: black;
    text-align: center;
    background: wheat;
    border-radius: 40px 40px 40px 40px;
	opacity: 0.6;
}
.history-text
{
    color:black;
    font-weight: bolder;
    background: wheat;
    text-align:center;
    border-radius: 40px 40px 40px 40px;
	opacity: 0.6;
}
.history div
{
    max-width: 500px;
    margin: 10px;
    padding:10px;
}
.history h1
{
    margin-bottom: 20px;
}
.history p + p
{
    margin-top: 10px;
}
/* CONTAINER_1
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.container_1
{
    display: flex;
    justify-content: center;
}
.Drift-in-Poland
{
    display: flex;
    flex-direction: row;
    padding: 1em;
}
.Drift-in-Poland ul
{
    list-style-type: disc ;
}
.Drift-in-Poland-img
{
    padding: 1em;
	
}
.Drift-in-Poland-img img
{
    width: 40em;
	border-radius: 20px;

}
.Drift-in-Poland-text
{
    padding: 2em;
	background: wheat;
	border-radius: 20px;
}



.legend
{
    display: flex;
    flex-direction: row;
    padding: 1em;
}
.legend ul
{
    list-style-type: disc ;
}
.legend-img
{
    padding: 1em;
	
}
.legend-img img
{
    width: 40em;
	border-radius: 20px;

}
.legend-text
{
    padding: 2em;
	background: wheat;
	border-radius: 20px;
}

/* FOOTER
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.page-footer
{
    display: flex;
    flex-direction: column-reverse;
    color: black;
    background-color: tan;
}
.page-footer ul
{
    display: flex;
    font-size: 1.5rem;
    margin-bottom: 5px;
}
.page-footer ul li:not(:last-child)
{
    margin-right: 20px;
}
/* Mediascreen
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@media screen and (min-width: 550px)
{
    .page-header ul
    {
        width: auto;
        margin-top: 0;
    }
    .page-header .cta-contact
    {
        order: 1;
    }
    .page-footer
    {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .page-footer ul
    {
        margin-bottom: 0;
    }
}

@media screen and (min-width: 768px)
{
    body
    {
        font-size: 18px;
    }

    .page-main
    {
        padding-left: 90px;
    }
}

@media screen and (max-width: 768px)
{
    .Drift-in-Poland
    {
        flex-direction: column;
    }
    .Drift-in-Poland
    {
        display: flex;
        justify-content: center;
    }
    .Drift-in-Poland h1
    {
        text-align: center;
    }
    .Drift-in-Poland-img img
    {
        width: 26em;
    }
    .offer-2
    {
        flex-direction: column;
    }
}
}
@media screen and (max-width: 750px)
{
    .Drift-in-Poland
    {
        flex-direction: column;
    }
    .Drift-in-Poland-img img
    {
        width: 15em;
    }
    .legend
    {
        flex-direction: column;
    }
    .page-main-header
    {
        width: auto;
        height: auto;
    }
    .page-header ul
    {
        font-size:16px;
    }
}
@media screen and (max-width: 1366px)
{
    .Drift-in-Poland
    {
        flex-direction: column;
    }
    .Drift-in-Poland-img
    {
        display: flex;
        justify-content: center;
    }
    .Drift-in-Poland-text h1
    {
        text-align: center;
    }
    .legend
    {
        flex-direction: column;
    }
}